/*
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}
 */

.form-inline {
  /* display: flex;
  flex-flow: row wrap;
  align-items: center; */
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 5px;
}



.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input[type=text] {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.form-inline input[type=button] {
  padding: 10px 20px;
  background-color: #e7e7e7;
  border: 1px solid #ddd;
  color: black;
  cursor: pointer;
      margin: 4px 5px;
}

.form-inline input[type=reset] {
  padding: 10px 20px;
  background-color: #e1e1e1;
  border: 1px solid #ddd;
  color: black;
  cursor: pointer;
        margin: 4px 5px;
}
.form-inline input[type=button]:hover {
  background-color: #e8e8e8;
}

@media (max-width: 200px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}

/* PWA */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
html, body, html * {
  font-family: 'Roboto', sans-serif;
    margin: 0;
    -webkit-touch-callout:none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust:none;             /* prevent webkit from resizing text to fit */
    -webkit-overflow-scrolling: auto;
    -webkit-user-select:none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    *::-webkit-scrollbar {
     width: 0px;
    }
}


/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  width: 100%;
}

/* Center the content in the browser window */
.container {
  margin: auto;
  text-align: center;
}

.title {
  font-size: 3rem;
}

/* navbar */

.navbar {
  overflow: hidden;
  background-color: #ff9398;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f5f5f5;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  background: #ff7570;
  color: black;
}

.navbar a.active {
  background-color: @red ;
  color: white;
  text-decoration: bold;

}

.navbar-right {
  float: right;
}

.main {
  padding: 16px;
  margin-bottom: 30px;
}


/* dropbtn */

.dropbtn {
  display: inline-block;
  font-weight: 400;
  cursor: pointer;
  background-color: lightcoral;
  color: white;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  outline: 0;
  transition: .15s ease-in-out;
}

.dropup {
  position: relative;
  display: inline-block;
}

.dropbtn:hover {
    background-color: #0069d9;
}

/* Dropup menu (Hidden by Default) */
.dropup-menu {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 0;
    min-width: 160px;
    padding: 8px 0;
    background: white;
    box-shadow: 0 1px 8px 2px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropup menu */
.dropup-menu a {
    color: #000;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

/* Change bg-color of dropup links on hover */
.dropup-menu a:hover {
    background-color: #f1f1f1;
}

/* Caret */
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-bottom: 6px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}

/* Dropup menu Header */
.dropup-menu .dropup-header {
    color: #777;
    font-size: .8rem;
    padding: 8px 16px;
}

.show {
    display: block;
}



.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: beige;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 25px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
